
<div class="row">
    <div class="col-2">
        <button class="btn btn-success" (click)="getUserAll()">GetUsers</button>
    </div>
</div>
<div class="col-4">
    <button class="btn btn-danger"(click)="getCustomer()">ClickMe!!</button>
</div>
<div class="col-3">
    <select class="form-select">
        @for (item of userList; track $index) {
            <option>{{item.name}}</option>
        }
    </select>
</div>
<div class="col-4">
    <select class="form-select">]
    @for (Ganesh of ganiList; track $index) {
         <option>{{Ganesh.fullName}}</option>
    }
    </select>
</div>

