

 <!-- <app-data-binding></app-data-binding>  -->
 <!-- <app-structural-dir></app-structural-dir> -->
  
<!-- <app-attribute-directive></app-attribute-directive> -->
 <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" routerLink="add-emp">Employee List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="DataBinding">Data Binding</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="str-Dir">Structural-directive</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="attri-Dir">Attribute-directive</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
    -->
  <!-- <app-ifelse></app-ifelse> -->
   <!-- <app-for></app-for> -->
    <!-- <app-pipe></app-pipe> -->
     <!-- <app-template></app-template>
      <app-reactive></app-reactive> -->
       <!-- <app-for></app-for>
        <app-structural-dir></app-structural-dir> -->
        <!-- <app-movies></app-movies> -->
         <!-- <app-get-api></app-get-api> -->
          <!-- <app-post-api></app-post-api> -->
           <!-- <app-delete-put-api></app-delete-put-api> -->
           <nav class="navbar navbar-expand-lg navbar-light bg-light">
           <div class="container-fluid">
              <a class="navbar-brand" href="#">Navbar</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" routerLink="add-emp">Employee</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="DataBinding">Data Binding</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="str-Dir">Structural Directive</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="DataBinding">Data Binding</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="attri-Dir">Attribute-directive</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="app-delete-put-api">Api-Delete</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="app-get-api">API-Get</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="app-post-api">Api-post</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="app-delete-put-api">Api-Delete</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="app-for">App-for</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="app-reactive">Reactive Form</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="app-template">Template Form</a>
                  </li> 
                   <li class="nav-item">
                    <a class="nav-link" routerLink="app-alert">Reusable-1</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="app-mybutton">Reusable-2</a>
                  </li> 
                   <li class="nav-item">
                    <a class="nav-link" routerLink="app-cycle-events">life-cycle</a>
                  </li>
  
                <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </ul>
              </div>
              </div>
          </nav> 
            <div class="container">
            <router-outlet></router-outlet>
          </div> 
           <!-- <app-cycle-events></app-cycle-events> -->
           <!-- <app-ng-template-directive></app-ng-template-directive> -->
            <!-- <app-ng-component></app-ng-component> -->
             <!-- <app-view-child></app-view-child>
          -->
              <!-- <router-outlet></router-outlet> -->
               <!-- <app-mybutton></app-mybutton>  -->
               <!-- <div class="container">
                <router-outlet></router-outlet>
              </div>  -->