<div class="mt-2 p-2 bg-secondary text-white rounded">
    <h1>Control Flow</h1>
</div>
<div class="row pt-3">
   @if(div1Visible==true) {
    <div class="col-3">
        <div class=" p-3 text-center bg-primary">
            <h4>Div-1</h4>
        </div>
    </div>
}
    <div class="col-3">
        @if (iswarningDiv2Visble == true) {<div class=" p-3 text-center bg-danger">
            <h4>Div-2</h4>
        </div>
    }@else{
        <div class=" p-3 text-center bg-warning">
            <h4>Div-2</h4>
        </div>
}
</div>
    <div class="col-3">
       @if (num1 == num2) { <div   class=" p-3 text-center bg-danger">
            <h4>Div-3</h4>
        </div>
    }
    </div>
    <div class="col-3">
        <div  class="p-3 text-center bg-warning">
          @if(selectedstatus=="Active") {
            <p>Student Is Active</p>
          }@else if (selectedstatus == "De-Active") {
           <p>Student is De-Active</p>
          }@else if (selectedstatus =="pending"){
           <p>Status is Pending</p>
          }@else {
            <p>Please select Status</p>
          }
        </div>
    </div>
</div>
<div class="row pt-3">
 <div class="col-3 text-center">
 <button class="btn btn-danger" (click)="hideDiv1()">Hide</button>
 <button class="btn btn-primary mx-2" (click)="showDiv1()">show</button>
</div>
<div class="col-3 text-center">
    <button class="btn btn-success" (click)="toggleDiv2()">Toggle</button>
</div>
<div class="col-3">
 <div style="display: flex; align-items: center;">
    <input type="text" [(ngModel)]="num1"  placeholder="Num-1" class="width-50" >
    <input type="text" [(ngModel)]="num2"  placeholder="Num-2" class="width-50">
 </div>
</div>
<div style="display: flex; align-items: center;">
    <input  type="checkbox" class="width-50">
 <select [(ngModel)]="selectedstatus">
      <option value=" ">Select Status</option>
      <option value="Active">Active </option>
      <option value="De-Active">De-Active</option>
      <option value="Pending">Pending </option>
 </select>
</div>
<!-- <div class="row">
    <div class="col-5">
        <table class="table table-bordered">
            <thead>
                <tr>
              <th>StudentID</th>
              <th>Name</th>
              <th>City</th>
              <th>Status</th>
              <th>gender</th>
              <th>totalMarks</th>
            </tr>
            </thead>
            <tbody>
                <tr >

                </tr>
               
            </tbody>
          </table>
          </div>
          </div>
 <div class="col-5">
     </div>
         </div> -->